<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dignissimos quod fuga animi consectetur ducimus, asperiores quae excepturi, exercitationem itaque neque ab earum! Dignissimos enim suscipit illo eius non sunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam beatae quas dolor officia consequuntur non tempore eius quo doloremque sapiente, id temporibus minus saepe quibusdam autem natus possimus alias quod! Aut, quos corporis quo dicta odio facere eos sapiente culpa.</p>
    </div>
</div>