<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque quasi saepe porro? Quos, ipsa rem quas mollitia commodi dolor a iusto facere aliquam perferendis hic odio! Explicabo eaque saepe eum.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, voluptatem blanditiis laborum quia corrupti assumenda at magnam veritatis! Asperiores perspiciatis aut assumenda iure atque sequi veritatis facere cumque eius ea!</p>
    <a href="" class="btn btn-primary b">Click</a>
</div>